In [33]:
# Author: Yecheng Huang
import pandas as pd

In [105]:
#data comes from the following linke: only contains DC area:
#https://www.dchealthmatters.org/indicators/index/view?indicatorId=2867&localeTypeId=3&periodId=244
#for more data, visit https://www.cdc.gov/places/
df = pd.read_csv('indicator_data_download_20221022.csv')

In [108]:
df.Location = df.Location.astype(str)

In [113]:
df_1 = df[['Indicator Rate Value','Location']]

In [118]:
zcta = pd.read_csv('https://www2.census.gov/geo/docs/maps-data/data/rel2020/zcta520/tab20_zcta520_tract20_natl.txt',
                   sep='|')
zcta.columns = zcta.columns.str.lower()

In [119]:
zcta['geoid_tract_20'] = zcta['geoid_tract_20'].astype(str)

In [121]:
#extract zipcode
zcta = zcta.dropna(subset=['geoid_zcta5_20'])
zcta['Location'] = zcta['namelsad_zcta5_20'].apply(lambda x:x[-5:])

In [122]:
#Join: transform zip to tract
df_2 = df_1.merge(zcta[['geoid_tract_20','Location']],on='Location')

In [125]:
df_2 = df_2.rename(columns={'Indicator Rate Value':'Depression Rate (Adult)'})
df_2

     Depression Rate (Adult) Location geoid_tract_20
0                       20.1    20001    11001003000
1                       20.1    20001    11001003100
2                       20.1    20001    11001003200
3                       20.1    20001    11001003301
4                       20.1    20001    11001003302
..                       ...      ...            ...
287                     31.5    20064    11001009511
288                      9.9    20317    11001002302
289                     19.0    20319    11001011002
290                     19.2    20373    11001007301
291                     18.0    20390    11001007000

[292 rows x 3 columns]

In [126]:
df_2.to_csv('2019_Depressionrate_tract.csv',index=False)